---
layout: default
---

<div class="home">

  <h2> Our project </h2> <br/>
  Due to COVID-19, many hospital have lack of rooms and many patients
  have to stay at home. Libre HomeCare provides a way to control these
  patients using a free/libre platform and devices based on open hardware. <br/>
  
  <h2> How it works </h2> <br/>
  <img src="/resources/EU37schema.jfif" alt="Libre HomeCare">  <br/>

   <h2> Try it on live! </h2> <br/>
   <p> A live demo will be available soon </p> <br/>
    
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 

</div>
